.downloads {
  position: absolute;
  bottom: -270px;
  width: 100%;
  background-color: $blue-darkest;
  color: white;
  text-align: center;

  @media (min-width: $tablets) {
    padding-left: 20px;
    bottom: 22px;
  }
}

.downloads__container {
  height: 271px;
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablets) {
    position: absolute;
    margin-top: -359px;
    width: 300px;

    @media (min-width: $desktops) {
      width: 350px;
      position: absolute;
      top: -51px;
      left: -25px;
    }
  }
}

.downloads__btn {
  padding-top: 48px;
  text-align: center;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;

  @media (min-width: $desktops) {
    font-size: 21px;
    line-height: 18px;
  }
}

.downloads__app {
  padding-top: 35px;

  @media (min-width: 660px) {
    padding-top: 45px;
  }

  @media (min-width: 960px) {
    padding-top: 75px;
  }
}

.downloads__list{
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  align-items: center;
  padding: 5px 15px 0;
  margin: 0;

  @media (min-width: $tablets) {
    padding-top: 6px;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: 960px) {
    margin-left: 30px;
    margin-right: 30px;
    justify-content: space-between;
  }
}

.downloads__item {
  padding: 10px 10px 0;
  list-style-type: none;
}


.downloads__button {
  padding: 10px;
  padding-left: 35px;
  padding-right: 35px;
  border: 3px solid $white;
  border-radius: 30px;
  text-decoration: none;
  color: $white;
  outline: none;

  @media (min-width: 660px) {
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 12px;
    padding-bottom: 15px;
  }

  @media (min-width: 960px) {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 12px;
    padding-bottom: 10px;
  }

  &:hover {
    background: $white;
    box-sizing: border-box;
    box-shadow: 0px 5px 7px rgba(1, 1, 1, 0.75);
    color: $pink;
  }

  &:active {
    color: transparentize($pink,.7);
  }
}

.downloads__decscription {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  text-align: center;

  @media (min-width: $tablets) {
    padding-top: 8px;
    font-size: 18px;
  }

  @media (min-width: 960px) {
    padding-top: 22px;
    font-size: 18px;
  }
}
