.effect {
  display: none;
}

@media (min-width: 660px) {
  .effect {
    display: block;
  }
  .effect__wrapper {
    display: flex;
    justify-content: center;
    margin: 20px;

    @media (min-width: 1200px) {
      margin-top: 0;
      padding: 50px;
    }
  }
  .effect__image {
    padding: 50px 100px 20px 50px;
  }

  .effect__img-text {
    font-style: normal;
    font-weight: bold;
    font-size: 120px;
    line-height: 163px;
    color: #D22856;
  }

  .effect__text {
    width: 310px;
    font-size: 14px;
    line-height: 24px;
  }
}

@media (min-width: 1200px) {
   .effect {
    background-color: #F2F2F2
   }

  .effect__text {
    width: 534px;
    font-size: 18px;
    line-height: 30px;
  }
}

.effect__link {
  text-decoration-line: underline;
  color: #D22856;

  @media (min-width: 1200px) {
    font-size: 18px;
    line-height: 30px;
  }
}
