.page-footer {
  padding: 40px 0;
  @media (min-width:660px) {
    padding:35px 0;
  }

  @media (min-width:1200px) {
    padding:70px 0;
  }
}

.form__title span,.page-footer--main{
display:none}
@media (min-width:660px){
.page-footer--main{
display:block}
}


.page-footer__container{
  margin:0 auto;
  width:280px;
  font-size:0;

  @media (min-width:660px) {
    width:620px;
  }

  @media (min-width:1200px) {
    width:940px;
  }
}


.page-footer__logo  {
  margin:0 auto 32px;
  display:block;
  text-align:center;
}

  @media (min-width:660px){
    .page-footer__logo{
    margin-bottom:0;
    padding-bottom:10px;
    display:inline-block;
    vertical-align:middle;
    width:33.33%;
    text-align:left}
}
.page-footer__logo {
  &:hover {
    fill:#d22856;
  }

  &:active {
    opacity:.3;
  }
}

.social-list__link {
  display: inline-block;
  vertical-align: middle;
  width: 44px;
  height: 44px;
  line-height: 49px;
  text-align: center;
  text-decoration: none;
  border: 3px solid #e9ebec;
  border-radius:50%;

  svg {
    fill: #d22856;
  }

  &:hover {
    border: 3px solid #283645;
  }

  &:active {
    border: 3px solid rgba(40,54,69,.1);

    svg {
      fill:rgba(210,40,86,.3);
    }
  }
}

.social-list {
  list-style: none;
  padding: 0;
  margin: 0 0 38px;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  text-align: center;
  font-size: 0;

  @media (min-width:660px){
    margin-bottom: 0;
    width: 33.33%
  }
}

.social-list__item {
 display: inline-block;
  vertical-align: middle;
  margin: 0 7px;
  font-size: 14px;
}

.copyright {
  display: block;
  margin: 0 auto;
  font-size: 14px;
  line-height: 18px;
  color: #283645;
  text-align: center;

  @media (min-width:660px) {
  display: inline-block;
  vertical-align: middle;
  width: 33.33%;
  text-align: right;
  }

  @media (min-width:120px) {
  font-size: 18px;
  }
}


.copyright__link {
  padding-left: 10px;

  svg {
    vertical-align:middle;
    fill: #d22856;
  }

  &:hover svg{
    fill: #283645;
  }

  &:active svg{
    fill: rgba(40,54,69,.3);
  }
}
