.form {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 15px;

  .form__container {
    margin: 0;

    .form__title {
      padding: 20px;
      font-size: 14px;
      line-height: 30px;
      font-weight: 400;
      color: #283645;
      text-align: center;
    }
  }

  fieldset {
   border: 0 none;
}

 .form__field {
  box-sizing: border-box;
  padding: 15px 20px;
  width: 100%;
  height: 64px;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
  border: 2px solid #e5e5e5;
}

  .form__label {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: #d22856;
  }

  .form__progress {
    background: #F2F2F2;
  }

  .form__apps {
    background: #F2F2F2;
  }

  .form__progress-title {
    padding-top: 30px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: #d22856;
    text-align: center;
  }

  .form__group {
    padding: 40px 10px;
  }


  .form__group-title {
    padding-top: 30px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: #d22856;
    text-align: center;
  }
}


