.inner-header {
  margin: 0px;
  width: 320px;
  height: 250px;
  background-image: url("../img/bg-back-mobile@1x.jpg");


  .inner-header__slogan {
    margin: 0px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 300;
    text-align: center;
    color: white;
    width: 280px;
    padding-top: 100px;
  }
}
