.logo-footer {
  margin: 0 auto 20px;
  padding: 0;

  @media (min-width: 660px) {
    margin-left: 0;
    margin-right: 0;
    padding-left: 10px;
  }

  @media (min-width: 960px) {
    padding-left: 5px;
  }

  &:hover {
    .logo-footer__glasses,
    .logo-footer__glasses-desktop,
    .logo-footer__pink,
    .logo-footer__star {
      fill: #d22856;
    }
  }

  &:active {
    .logo-footer__glasses,
    .logo-footer__glasses-desktop,
    .logo-footer__star--pink {
      fill: #d22856;
      opacity: 0.3;
    }

    .logo-footer__pink,
    .logo-footer__star {
      fill: #283645;
      opacity: 0.3;
    }
  }
}

.logo-footer__pink {
  fill: #283645;
}

.logo-footer__star {
  fill: #283645;
  display: none;

  @media (min-width: 960px) {
    display: block;
  }
}

.logo-footer__star--pink {
  fill: #d22856;
  display: none;

  @media (min-width: 960px) {
    display: block;
  }
}

.logo-footer__glasses {
  fill: #d22856;

  @media (min-width: 960px) {
    display: none;
  }
}

.logo-footer__glasses-desktop {
  fill: #d22856;
  display: none;

  @media (min-width: 960px) {
    display: block;
  }
}
