.main-header__photo {
  height: 462px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: flex-end;
}

.main-header__photo2 {
  margin-left: -150px;
}
