.page-header {
  width: 320px;
  background-color: #293646;
  margin: 0px;
  position: relative; 

  .page-header__logo {
    width: 74px;
    height: 23px;
    padding-left: 20px;
    padding-top: 22px; 
  }
}