.photo-items__wrapper {
  display: block;
  width: 280px;
  margin: 0 auto 20px;
  background-color: #F2F2F2;

  @media (min-width: 660px) {
    width: 300px;
    margin: 0 0 20px 0;
  }
}

@media (min-width: 660px) {
  .photo-items {
    width: 620px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .photo-items {
    width: 940px;
  }

  .photo-items--day {
    display: block;
  }
}


.photo-items-message {
  padding: 18px 18px 20px;
  margin: 0px;
 }

.photo-items__description {
  margin: 0 0 10px;
  font-size: 14px;
  line-height: 24px;

  @media (min-width: 660px) and (min-width: 1200px) {
    height: 48px;
  }
}

@media (min-width: 660px) and (min-width: 1200px) {
  .galery__description {
  margin: 100px;
  font-size: 18px;
  line-height: 30px;
  }
}

.photo-items__like-count {
  margin-left: 15px;
  color: #d22856;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
}

.photo-items__date {
  font-weight: 300;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
}

.photo-items__author {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
}

.photo-items-message--day {
  width: 241px;
  margin: 0px auto 40px;
  background-color: #F2F2F2;

  @media (min-width: 660px) {
    width: 583px;
    margin: 0 auto 40px;
  }

  @media (min-width: 1200px) {
     width: 901px;
  }
}

.photo-items--day {
  img {
    width: 100%
  }
}
