.photo-items__wrapper {
  display: block;
  width: 280px;
  margin: 0 auto 20px;

  @media (min-width: 660px) {
    width: 300px;
    margin: 0 0 20px 0;
  }
}

.photo-items {
  display: flex;
  flex-direction: column;
}

@media (min-width: 660px) {
  .photo-items {
    width: 620px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

@media (min-width: 960px) {
  .photo-items {
    width: 940px;
    margin-bottom: 37px;
  }

  .photo-items--day {
    display: block;
  }
}


.photo-items__message {
  display: flex;
  flex-direction: column;
  padding: 18px;
  margin: 0;
  background-color: #F2F2F2;


  @media (min-width: 660px) {
    padding: 22px 20px 25px 30px;
  }
}

.photo-items__description {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  padding-bottom: 12px;

  @media (min-width: 660px) {
    height: 48px;
    padding-bottom: 15px;

  }
}

.photo-items__wrapper--day {
  position: relative;
  width: 100%;

  &:after {
    width: 140px;
    height: 36px;
    font-size: 12px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    background: #d22856;
    color: #fff;
    content: 'Панорама дня';
    display: block;
    position: absolute;
    top: 0;
    right: 20px;

    @media (min-width: 660px) {
      top: 57px;

      .photo-items__description {
        padding-bottom: 23px;
      }
    }

    @media (min-width: 960px) {
      top: 54px;
      right: 130px;
    }
  }
}

.photo-items__message--day {

  @media (min-width: 660px) {
    padding-bottom: 10px;
  }
}

.photo-items__like-count {
  margin-left: 10px;
  color: #d22856;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;

  @media (min-width: 660px) {
    margin-left: 0;
  }
}

.photo-items__date {
  font-weight: 300;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
}

.photo-items__author {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
}

.photo-items__pictire-container img {
  display: block;
}

.photo-items__message--day {
  width: 241px;
  margin: 0 auto;
  background-color: #F2F2F2;
  position: relative;

  @media (min-width: 660px) {
    width: 570px;

    .photo-items__like {
      justify-content: start;
      position: absolute;
      top: 25px;
      right: 30px;
    }
  }

  @media (min-width: 960px) {
    width: 885px;

    .photo-items__description {
      height: 100%;
    }
  }
}

.photo-items--day {
  display: block;
  width: 100%;
  img {
    width: 100%;

    @media (min-width: 660px) {
      height: 509px;
    }
  }
}

.photo-items__like {
  @media (min-width: 660px) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
}

.photo-items__like-button {
  display: inline-block;
  width: 13px;
  height: 12px;
  background: url(../img/icon-heart.svg) no-repeat center center;
  vertical-align: middle;
  cursor: pointer;
  border: none;

  @media (min-width: 660px) {
    margin-left: 16px;
    padding-left: 20px;
  }
}

.photo-items__like-button--day {
  padding-left: 0px;
}

.photo-items__wrapper--day {
  @media (min-width: 660px) {
    margin-bottom: 55px;
  }
}
