.price {
  min-width: $phones;
  text-align: center;
  background: $grey-light url(../img/bg-triangle-white.svg) no-repeat top center;
  background-size: 100%;
  padding: 25px 0 50px 0;

  @media (min-width: 660px) {
    padding-bottom: 0;
  }

  @media (min-width: 960px) {
    padding-top: 45px;
    padding-bottom: 100px;
  }
}

.price__slider {
  margin: 70px 0 25px 0;

  @media (min-width: $tablets) {
    width: 620px;
    margin: 0 auto;
    padding: 70px 20px;
  }

  @media (min-width: $desktops) {
    width: 940px;
    padding: 91px 0 0 0;
  }
}
