.price {
  min-width: 320px;
  text-align: center;
  background: #f2f2f2 url(../img/bg-triangle-white.svg) no-repeat top center;
  background-size: 100%;
  padding: 40px 0;
}

.price__slider {
  margin: 70px 0 45px 0;

  @media (min-width: 660px) {
    width: 620px;
    margin: 0 auto;
    padding: 70px 20px;
  }

  @media (min-width: 1200px) {
    width: 980px;
  }
}

table {
  margin: 0 auto;
  width: calc(300% - 133px);
  border-collapse: collapse;
  transform: translateX(-32%);

  @media (min-width: 660px) {
    transform: none;
    width: 100%;
  }
}

td {
  padding: 15px;
  border: 2px solid #e5e5e5;
  width: 276px;

  &:first-of-type {
    display: none;
  }
}


th {
  background: #283645;
  width: 276px;
  height: 59px;
  padding: 15px;
  border: 2px solid #e5e5e5;

  @media (min-width: 660px) {
    width: 152px;
    height: 75px;
    padding: 0;
  }
}


.table-price__name {
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: #fff;
  display: block;

  @media (min-width: 1200px) {
    font-size: 18px;
  }
}

.table-price__cost {
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;

  @media (min-width: 1200px) {
    font-size: 24px;
  }
}

.table-price__cell {
  text-align: left;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;

  &--yes {
    background: url(../img/icon-yes.svg) no-repeat center right 10px;
    background-size: 31px 21px;

    @media (min-width: 660px) {
      background-position: center center;
    }
  }

  &--no {
    background: url(../img/icon-no.svg) no-repeat center right 10px;

    @media (min-width: 660px) {
      background-position: center center;
    }
  }

  @media (min-width: 660px) {
    width: 25%;
    text-transform: none;
  }

  @media (min-width: 1200px) {
    font-size: 18px;
  }
}


.price-table__cell {
  &:first-child {
    display: none;
  }
}

td:first-of-type {
  display: none;
}

@media (min-width: 660px) {
  .table-price__cell span {
    display: none;
  }

  .price-table__cell:first-child {
    display: table-cell;
  }

  td:first-of-type {
    display: table-cell;
  }

  td:first-child span{
    display: inline;
  }

  td:first-child {
    background: none;
  }

  th:first-child {
    border: none;
    opacity: 0;
    background-color: #f2f2f2;
  }
}


.table-price__row {
  background-color: white;
}

.price-table__cell-inner {
  @media (min-width: 1200px) {
    padding: 20px 0;
  }
}

.price-table__cell--hit {
  background: #283645 url(../img/bg-hit.svg) no-repeat left top;

  @media (min-width: 660px) and (max-width: 1199px) {
    background: #283645 url(../img/bg-hit-tablet.svg) no-repeat left top;
  }
}

.table-price__header--hit {
  position: relative;

  &::before {
    content: "Хит";
    position: absolute;
    left: -2px;
    transform: rotate(-45deg);
    font-size: 14px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: normal;

    @media (min-width: 660px) {
      left: 7px;
    }
  }
}
