.reviews {
  min-width: 320px;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;

  @media (min-width: 1200px) {
    width: 968px;
    margin: 60px auto;
    padding-top: 100px;
    background: url("../img/icon-quotes.svg") no-repeat center top;
    background-size: 79px 63px;
  }

  .reviews__list {
    @media (min-width: 1200px) {
      position: relative;
    }
  }

  .reviews__item--nonactive {
    display: none;
  }

  .reviews__item {
    margin: 0;
    padding: 0 20px;
  }

  .reviews__author-name {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  font-style: normal;
  color: #000;
  margin-bottom: 0;
  }
}

  .reviews__author-info {
    display: none;
  }

  .reviews__text {
  font-size: 14px;
  line-height: 30px;
  color: #283645;
  }

@media (min-width: 660px) {

  .reviews__item {
    display: flex;
    flex-direction: column-reverse;
  }

  .reviews__author-info {
    display: block;
    margin: 0;
  }

  .reviews__text {
    width: 620px;
    font-size: 18px;
    line-height: 30px;
    margin: 0 auto 40px;
  }
}
