.reviews {
  min-width: 320px;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;

  @media (min-width: 1200px) {
    width: 968px;
    margin: 60px auto;
    padding-top: 100px;
    background: url("../img/icon-quotes.svg") no-repeat center top;
    background-size: 79px 63px;
  }

  .reviews__list {
    @media (min-width: 1200px) {
      position: relative;
    }
  }

  .reviews__item--nonactive {
    display: none;
  }

  .reviews__item {
    margin: 0;
    padding: 0 20px;
  }

  .reviews__author-name {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  font-style: normal;
  color: #000;
  }
}

  .reviews__author-info {
    display: none;
  }

  .reviews__text {
  font-size: 14px;
  line-height: 30px;
  color: #283645;
  }

@media (min-width: 660px) {

  .reviews__item {
    display: flex;
    flex-direction: column-reverse;
  }

  .reviews__author-info {
    display: block;
  }

  .reviews__text {
    width: 620px;
    font-size: 18px;
    line-height: 30px;
    margin: 0 auto;
  }
}

.toggle__item {
  padding:0;
  margin:0 8px;
  display: inline-block;
  vertical-align: middle;
  width: 6px;
  height: 6px;
  background: transparentize(#283645,.7);
  border-radius: 20px;
  cursor: pointer;
  border: none;
  outline: none;

  &:hover {
    background: transparentize(#283645,.4);
  }

  &:active{
    background: transparentize(#283645,.9)
  }

  @media (min-width: 1200px) {
    display: none;
  }
}

.toggle__item--active {
  width:12px;
  height:12px;
  border:3px solid #000;
  background:#fff
}

.toggle__arrow {
  display: none;

  @media (min-width: 1200px) {
    display: block;
    padding: 0;
    position: absolute;
    top: 25px;
    width: 22px;
    height: 41px;
    cursor: pointer;
  }
}

.toggle__arrow {
  border: none;
  background: none;

  svg {
    fill: #283645;
    opacity: 0.3;

    &:hover {
      opacity: 0.6
    }

    &:active {
      opacity: 0.1;
    }
  }
}

.toggle__arrow--left {
  left: 0;
}

.toggle__arrow--right {
  right: 0;
}
