.toggle__item {
  padding:0;
  margin:0 8px;
  display: inline-block;
  vertical-align: middle;
  width: 6px;
  height: 6px;
  background: transparentize(#283645,.7);
  border-radius: 20px;
  cursor: pointer;
  border: none;
  outline: none;

  &:hover {
    background: transparentize(#283645,.4);
  }

  &:active{
    background: transparentize(#283645,.9)
  }

  @media (min-width: 1200px) {
    display: none;
  }
}

.toggle__item--active {
  width:12px;
  height:12px;
  border:3px solid #000;
  background:#fff
}

.toggle__arrow {
  display: none;
  background: none;

  @media (min-width: 1200px) {
    display: block;
    border: none;
    padding: 0;
    position: absolute;
    top: 25px;
    width: 22px;
    height: 41px;
    cursor: pointer;
  }

  svg {
    fill: #283645;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.1;
      outline: none;
    }
  }
}

.toggle__arrow--left {
  left: 0;

    &:active,
    &:focus {
      outline: none;
  }
}

.toggle__arrow--right {
  right: 0;

  &:active
  &:focus {
    outline: none;
  }
}

.toggle--table {
  @media (min-width: 600px) {
    display: none;
  }
}
